.close {
    color: #090B0D;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 481px) {
    #announcement {
        display: block; 
        width: 50%;
        height: 100%;
        overflow: auto;
        position:fixed;
        left: 20%;
        top: 0;
        padding: 10px 15px 0px;
        margin: 20px;
        border: 1px solid #e1e1e1;
        background-color: #f9f9f9;
        border-radius: 4px;
        z-index: 999; 
    }

    #announcement h2 {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 15px;
        margin-bottom: 20px;
        font-weight: 600;
        color: #2cd098;
    }

    #announcement p {
        font-size: 1em;
        margin: 15px;
        margin-bottom: 25px;
        font-weight: normal;
        color: #090B0D;
    }
}

@media only screen and (max-width: 480px) {
    #announcement {
        display: block; 
        width: 95%;
        height: 100%;
        overflow: auto;
        position:fixed;
        left: 0;
        top: 0;
        padding: 10px 15px 0px;
        margin: 10px;
        border: 1px solid #e1e1e1;
        background-color: #f9f9f9;
        border-radius: 4px;
        z-index: 999; 
    }

    #announcement h2 {
        font-size: 1em;
        line-height: 1.25em;
        margin: 10px;
        font-weight: 500;
        color: #2cd098;
    }

    #announcement p {
        font-size: 0.8em;
        margin: 10px;
        font-weight: normal;
        color: #090B0D;
    }
}
