body {
	font-family: "Titillium Web";
	font-weight: 200;
	font-size: 16px;
	line-height: 22px;
	background-color: #090B0D;
	color: #ffffff;
}

img.background {
    position:absolute;
    left:0px;
    top:330px;
    z-index:-1;
    width: 100%;
    height: auto;
}

.gray {
	width: 160px; 
	height: 160px; 
	object-fit: cover; 
	filter: grayscale();
}

img.rounded-circle {
	height: 100px;
	width: auto;
	filter: grayscale();
}

p {
	opacity: 0.8;
}

.subscribe {
  color: #2cd098;
}

h2 {
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 32px;
	line-height: 48px;
}

span {
  color: #2cd098;	
}

h3 {
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 21px; 
	line-height: 32px;
}

h4 {
	margin-top: 20px;	
	font-size: 16px;
}

a:link, 
a:visited {
	color: #ccc;
}

a:active  {
    color: #ccc;
    font-weight: 600;
}

a:hover {
    color: white;
    text-decoration: none;
}

section {
    padding-top: 5px;
	text-align: center;
}

footer {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 50px;
}

#title {
	display: flex;
	flex-direction: column;
}


#logo {
	margin-top: -80px;	
	width: 400px;
	margin-bottom: -60px;
}

#subscribe-icons {
	display: flex;
	justify-content: center;
}

.text-uppercase {
	margin-bottom: 10px;
}

.subscribe-icon {
	text-align: center;
	border-radius: 100px;
	border: solid 1px #2cd098;
  	color: #2cd098;
}

.highlight-border {
	background-color: rgba(44, 208, 152, 0.05);
 	border: solid 1px rgba(44, 208, 152, 0.2);
	border-radius: 4px;
	padding: 20px 20px;
	margin-bottom: 100px;
}

.highlight-border > h4 {
	color: #2CD098;	
}

.border-bottom {
	border-bottom: 1px solid #2cd098;
	padding-left: 20px;
	padding-right: 20px;
}

.border-right {
	border-right: 1px solid #2cd098;
}

.ml-offset {
	margin-left: -15px;
}

.desktop-img {
	width: 350px;
	height: auto;
}

.nav-menu {
	width: 180px;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 13px;
	text-align: right;
}

.nav-menu a:hover {
	color: #2cd098;
}

.nav-menu ul {
	list-style-type: none;
}


.header {
	margin-top: 50px;
	margin-bottom: 150px;
}

.icon {
	font-size: 40px; 
	color: #2cd098;
}

span.demo-text  {
	font-size: 28px; 
	color: #2cd098; 
	font-weight: 200;
	margin-right: 5px;
	margin-left: 5px;
}

span.demo-text:hover {
	font-weight: 600;
}

.small-icon {
	font-size: 18px; 
	color: #2cd098;
}

.big-icon {
	font-size: 24px; 
	color: #2cd098;
}

.transparent {
	width: 280px; 
	height: 360px; 
	opacity: 0;
}

.architecture {
	height: 450px; 
	width: auto;
}

#scenarios img  {
	height: 90px;
	width: auto;
}

#logo-small {
	height: 50px; 
	width: 145px;
}

#menu {
	padding-top: 15px; 
	height: 32.5px; 
	width: 32.5px;
}

#mc_embed_signup input.email {
	font-size: 15px;
	font-weight: 200;
	padding:0 0.4em; 
	margin:0 0 20px 0; 
	min-height:32px; 
	width:50%; 
	min-width:130px; 
	border: solid 1px #2cd098;
	border-radius: 3px;
	background-color: #090B0D;
	color: #fff;
}

.subscribe-icon:hover {
	font-weight: 500;
}

#response {
	display:none;
	color:#933435;
	margin-bottom: 10px;
}

input.email::placeholder {
	color: #ccc;
	opacity: 0.6;
}


@media only screen and (max-width: 480px) {

	#mc_embed_signup input.email {
		width:70%;  
	}

	.gray {
		width: 200px; 
		height: 200px; 
		object-fit: cover; 
		filter: grayscale();
	}

	#scenarios .grid-mobile {
		width: 180px;
	}

	.center {
		height: 350px;
		margin-left: -12.5px;
	}

	#about-us .single-item {
		height: 350px;
	}
	
	.slick-list {
		height: 650px;
	}

	.slider-page-1 {
		margin-left: -15px;
	}

	#logo {
		width: 300px;
	}
    .desktop-view {
        display: none;
    }

    .mobile-img {
    	width: 350px;
    	height: auto;
    }

	.architecture {
		height: auto; 
		width: 350px;
	}

    .border-bottom {
    	margin-left: -20px;
    	margin-right: -20px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.container {
		padding-left: 5px;
		padding-right: 5px;
	}

	#scenarios h3 {
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 16px; 
	}

	.grid-mobile {
		width: 180px;
		height: auto;
	}

	.grid-mobile img {
		margin-right: auto;
		margin-left: auto;
	}

	.ml-offset-1 {
		padding-left: 10px;
	}

	.ml-offset-2 {
		padding-left: 0px;
	}


	.ml-offset-3 {
		margin-left: -30px;
		padding-left: 0px;
		margin-right: 5px;
	}

	.grid-icons {
		display: flex;
		justify-content: space-around;
	}

	#components .grid-mobile,
	#features .grid-mobile {
		width: 280px;
		height: auto;
	}

	#components img,
	#features img {
		margin-top: 20px;
		height: 40px;
	}

	body {
		font-family: "Titillium Web";
		font-weight: 200;
		font-size: 18px;
		line-height: 27px;
		background-color: #090B0D;
		color: #ffffff;
	}

	img.background {
	    position:absolute;
	    left:0px;
	    top:720px;
	    z-index:-1;
	    width: 100%;
	    height: auto;
	}

	h2 {
		margin-top: 100px;
		margin-bottom: 100px;
		font-size: 32px;
		line-height: 48px;
	}

	h3 {
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 27px; 
		line-height: 40px;
	}

	h4 {
		margin-top: 20px;	
		font-size: 21px;
	}

	.mobile-menu {
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		font-size: 13px;
		text-align: left;
		background-color: #090B0D;
		display: flex;
		justify-content: space-between;
	}

}

@media only screen and (max-width: 400px) {

	.slider-page-1 {
		margin-left: 0;
	}

	#scenarios .grid-mobile {
		width: 170px;
	}

	.center {
		height: 350px;
		margin-left: -2.5px;
	}

	.slick-list {
		height: 700px;
	}

	.single-item {
		margin-left: 25px;
	}

	#about-us .single-item {
		height: 350px;
	}

    .desktop-view {
        display: none;
    }

	span {
	  	color: #2cd098;	
	}

    body {
		font-family: "Titillium Web";
		font-weight: 200;
		font-size: 16px;
		line-height: 27px;
		background-color: #090B0D;
		color: #ffffff;
	}

	img.background {
	    position:absolute;
	    left:0px;
	    top:740px;
	    z-index:-1;
	    width: 100%;
	    height: auto;
	}

	h2 {
		margin-top: 100px;
		margin-bottom: 100px;
		font-size: 32px;
		line-height: 48px;
	}

	h3 {
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 27px; 
		line-height: 40px;
	}

	h4 {
		margin-top: 20px;	
		font-size: 16px;
	}

	.architecture {
		height: auto; 
		width: 350px;
	}

    .border-bottom {
    	margin-left: -32.5px;
    	margin-right: -32.5px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.container {
		padding-left: 5px;
		padding-right: 5px;
	}

	#scenarios h3 {
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 14px; 
	}

 	.grid-mobile {
		width: 160px;
		height: auto;
	}

	.ml-offset-1 {
		padding-left: 10px;
	}

	.ml-offset-2 {
		padding-left: 12px;
	}


	.ml-offset-3 {
		margin-left: -15px;
		padding-left: 0px;
	}
	.grid-icons {
		display: flex;
		justify-content: space-around;
	}

	#components .grid-mobile,
	#features .grid-mobile {
		width: 250px;
		height: auto;
	}

	#components img,
	#features img {
		margin-top: 20px;
		height: 40px;
	}

	.mobile-menu {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		font-size: 13px;
		text-align: left;
		background-color: #090B0D;
		display: flex;
		justify-content: space-between;
	}

}

@media only screen and (min-width: 481px) {
    .mobile-view {
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1400px){
	img.background {
	    position:absolute;
	    left:0px;
	    top:400px;
	    z-index:-1;
	    width: 100%;
	    height: auto;
	}
}